body {
    margin: 0; 
    padding: 0;
    color: #484848;
    font-size: Circular, "Helvetica Neue", Helvetica,Arial,sans-serif;
}

.container {
    max-width: 1000px;
    height: 30px;
    margin:30px auto;

 
}