.filters {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FFF;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    font-size: 18px;
    border: none;
    border-radius: 4px;
    color: #fff;
    height: 48px;
    background-color: #ff5a5f;
    width: 20%;
    position: relative;
    right: 30px;
    /* margin: auto; */
}

button:hover {
    opacity: 0.9;
}

/* 
Button search:
tag button
text Search
font size: 18px
inside the section filters
background color #FF5A5F
text color #FFFFFF
height: 48px
width: 20% of the section filters
no borders
border radius: 4px
center vertically and at 30px of the right border
change opacity to 90% when the mouse is on the button
 */